<h1>Admin</h1>

<a asp-controller="Admin" asp-action="AddArticle">Add article</a>
<a asp-controller="Admin" asp-action="AddCategory">Add category</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="Index">Articles</a>
